@font-face {
    font-family: 'FuturaLTBook';
    src: url(../fonts/FuturaLT-CondensedLight.otf) format("otf");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaLTBookBold';
    src: url(../fonts/FuturaLTBookBold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'GillSansMTBold';
    src: url(../fonts/GillSansMTBold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}